In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weatherAUS.csv')

In [3]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [5]:
df.shape

(145460, 23)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [7]:
pd.set_option('display.max_columns',23)

In [8]:
# Finding average maximum temperature
df['MaxTemp'].mean()

23.221348275647003

In [9]:
# Finding average maximum temperature
df['MinTemp'].mean()

12.19403438096871

In [10]:
Loc_grp = df.groupby(['Location'])

In [11]:
Loc_grp.get_group('Cobar')

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,SSE,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6051,2009-01-03,Cobar,15.5,34.1,0.0,12.6,13.3,SE,30.0,NaN,N,NaN,7.0,NaN,7.0,NaN,1011.6,NaN,1.0,NaN,32.7,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9053,2017-06-21,Cobar,5.8,19.1,0.0,NaN,NaN,SE,24.0,SE,S,7.0,9.0,71.0,34.0,1027.6,1025.3,NaN,NaN,11.2,19.1,No,No
9054,2017-06-22,Cobar,2.8,19.2,0.0,NaN,NaN,NE,20.0,E,SSE,13.0,6.0,72.0,29.0,1027.2,1024.1,NaN,2.0,9.6,18.8,No,No
9055,2017-06-23,Cobar,6.9,20.0,0.0,NaN,NaN,W,33.0,N,W,9.0,15.0,59.0,29.0,1022.2,1019.0,6.0,8.0,11.1,18.6,No,No
9056,2017-06-24,Cobar,8.3,16.2,0.0,NaN,NaN,WSW,20.0,W,SSW,7.0,9.0,47.0,49.0,1020.2,1018.5,NaN,7.0,14.2,14.5,No,No
9057,2017-06-25,Cobar,9.1,22.0,0.0,NaN,NaN,W,28.0,NE,WNW,15.0,13.0,62.0,33.0,1020.2,1017.4,1.0,3.0,13.0,20.8,No,No

In [12]:
# Finding average maximum temperature in location Cobar
Loc_grp.get_group('Cobar').MaxTemp.mean()

25.870093147039235

In [13]:
# Count of null values in column Evaporation  # .count() method gives number of non null values
df['Evaporation'].isnull().sum()

62790

In [14]:
# Count of null values in column Sunshine
df['Sunshine'].isnull().sum()

69835

In [15]:
# Dropping the date column
df = df.drop(['Date'],axis=1)
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,17.0,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [16]:
# For column evaporation, replace all missing values with average of the column
df['Evaporation'].fillna(df['Evaporation'].mean() , inplace=True)
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,5.468232,NaN,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,5.468232,NaN,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,5.468232,NaN,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,5.468232,NaN,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,5.468232,NaN,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,5.468232,NaN,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,5.468232,NaN,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,5.468232,NaN,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,5.468232,NaN,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,Uluru,14.9,NaN,0.0,5.468232,NaN,NaN,NaN,ESE,ESE,17.0,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [17]:
df.dropna(axis='columns' , how='any')

       Location  Evaporation
0        Albury     5.468232
1        Albury     5.468232
2        Albury     5.468232
3        Albury     5.468232
4        Albury     5.468232
...         ...          ...
145455    Uluru     5.468232
145456    Uluru     5.468232
145457    Uluru     5.468232
145458    Uluru     5.468232
145459    Uluru     5.468232

[145460 rows x 2 columns]

In [18]:
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,5.468232,NaN,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,5.468232,NaN,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,5.468232,NaN,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,5.468232,NaN,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,5.468232,NaN,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,5.468232,NaN,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,5.468232,NaN,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,5.468232,NaN,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,5.468232,NaN,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,Uluru,14.9,NaN,0.0,5.468232,NaN,NaN,NaN,ESE,ESE,17.0,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [19]:
#Making a user defined function where all details of country entered by the user are displayed
def ShowData(country):
    filt = (df['Location'] == country)
    print(df.loc[filt])
country = input("Enter country whose details you want to filter")
ShowData(country)

Enter country whose details you want to filterAlbury
     Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
0      Albury     13.4     22.9       0.6     5.468232       NaN           W
1      Albury      7.4     25.1       0.0     5.468232       NaN         WNW
2      Albury     12.9     25.7       0.0     5.468232       NaN         WSW
3      Albury      9.2     28.0       0.0     5.468232       NaN          NE
4      Albury     17.5     32.3       1.0     5.468232       NaN           W
...       ...      ...      ...       ...          ...       ...         ...
3035   Albury      1.2     15.2       0.4     5.468232       NaN         ENE
3036   Albury      0.8     13.4       0.0     5.468232       NaN           W
3037   Albury      1.1     11.9       0.0     5.468232       NaN          SE
3038   Albury      1.1     14.1       0.2     5.468232       NaN         WSW
3039   Albury      3.9     10.9       0.0     5.468232       NaN         NNW

      WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  WindSpeed3pm  \
0              44.0          W        WNW          20.0          24.0
1              44.0        NNW        WSW           4.0          22.0
2              46.0          W        WSW          19.0          26.0
3              24.0         SE          E          11.0           9.0
4              41.0        ENE         NW           7.0          20.0
...             ...        ...        ...           ...           ...
3035           15.0        NaN        NNE           0.0           2.0
3036           17.0          S        NaN           6.0           0.0
3037           44.0        SSE        SSE           9.0           2.0
3038           28.0         SW          W           4.0          15.0
3039           28.0          S        NaN           6.0           0.0

      Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
0            71.0         22.0       1007.7       1007.1       8.0       NaN
1            44.0         25.0       1010.6       1007.8       NaN       NaN
2            38.0         30.0       1007.6       1008.7       NaN       2.0
3            45.0         16.0       1017.6       1012.8       NaN       NaN
4            82.0         33.0       1010.8       1006.0       7.0       8.0
...           ...          ...          ...          ...       ...       ...
3035        100.0         62.0       1029.4       1026.7       8.0       NaN
3036        100.0         66.0       1029.4       1025.9       8.0       1.0
3037        100.0         81.0       1022.3       1017.7       8.0       1.0
3038        100.0         49.0       1018.8       1017.2       7.0       6.0
3039         88.0         82.0       1020.5       1018.8       7.0       8.0

      Temp9am  Temp3pm RainToday RainTomorrow
0        16.9     21.8        No           No
1        17.2     24.3        No           No
2        21.0     23.2        No           No
3        18.1     26.5        No           No
4        17.8     29.7        No           No
...       ...      ...       ...          ...
3035      2.9     14.3        No           No
3036      3.6     13.3        No           No
3037      2.7     10.2        No           No
3038      3.9     13.1        No           No
3039      6.4      8.8        No          Yes

[3040 rows x 22 columns]

In [20]:
def ShowData(country):
    filt = (df['Location'] == country)
    print(df.loc[filt])
country = input("Enter country whose details you want to filter")
ShowData(country)

Enter country whose details you want to filterUluru
       Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
143882    Uluru     19.7     30.0       0.8     5.468232       NaN
143883    Uluru     21.6     33.1       0.0     5.468232       NaN
143884    Uluru     21.3     36.1       0.0     5.468232       NaN
143885    Uluru     22.9     37.7       0.0     5.468232       NaN
143886    Uluru     24.0     39.0       0.0     5.468232       NaN
...         ...      ...      ...       ...          ...       ...
145455    Uluru      2.8     23.4       0.0     5.468232       NaN
145456    Uluru      3.6     25.3       0.0     5.468232       NaN
145457    Uluru      5.4     26.9       0.0     5.468232       NaN
145458    Uluru      7.8     27.0       0.0     5.468232       NaN
145459    Uluru     14.9      NaN       0.0     5.468232       NaN

       WindGustDir  WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  \
143882         ESE           48.0          E          E          30.0
143883           E           33.0          E          N          22.0
143884           E           33.0        ENE        SSE          24.0
143885         ENE           39.0          E        SSE          28.0
143886           S           39.0          E          S          20.0
...            ...            ...        ...        ...           ...
145455           E           31.0         SE        ENE          13.0
145456         NNW           22.0         SE          N          13.0
145457           N           37.0         SE        WNW           9.0
145458          SE           28.0        SSE          N          13.0
145459         NaN            NaN        ESE        ESE          17.0

        WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  \
143882          24.0         76.0         54.0       1010.6       1007.5
143883          11.0         44.0         33.0       1010.5       1006.5
143884          13.0         39.0         27.0       1006.9       1002.7
143885          13.0         35.0         22.0       1006.0       1002.1
143886          19.0         33.0         21.0       1006.9       1003.5
...              ...          ...          ...          ...          ...
145455          11.0         51.0         24.0       1024.6       1020.3
145456           9.0         56.0         21.0       1023.5       1019.1
145457           9.0         53.0         24.0       1021.0       1016.8
145458           7.0         51.0         24.0       1019.4       1016.5
145459          17.0         62.0         36.0       1020.2       1017.9

        Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday RainTomorrow
143882       NaN       NaN     21.7     28.4        No           No
143883       NaN       NaN     24.6     31.3        No           No
143884       NaN       NaN     27.6     34.5        No           No
143885       NaN       NaN     28.7     35.4        No           No
143886       NaN       NaN     29.9     37.3        No           No
...          ...       ...      ...      ...       ...          ...
145455       NaN       NaN     10.1     22.4        No           No
145456       NaN       NaN     10.9     24.5        No           No
145457       NaN       NaN     12.5     26.1        No           No
145458       3.0       2.0     15.1     26.0        No           No
145459       8.0       8.0     15.0     20.9        No          NaN

[1578 rows x 22 columns]